<div *ngFor="let item of data ; index as i" class="pub">
  <h1>{{item.titre}}</h1>
  <div> {{item.description}} </div>
  <hr>
  <div>Category : {{item.category}} </div>
  <hr>
  <div> {{ item.date | date:'medium' }} </div>
  <hr>
    <div class="boutton1">
      <div>
          <button (click)="modifier(i+1)" class="btn btn-warning">modifier</button>
          <button (click)="delete(i)" class="btn btn-danger">delete</button>
      </div>
      <button routerLink="/add" class="btn btn-primary">ajouter post</button>
    </div>
</div>
